/*
 * oz平台css汇总
 * 创建：dragon 2010-07-20
 */
 
/* 通用部分 */
body {
	margin: 0px;
	overflow: auto;
}

/* 视图部分 */
.oz-view-container {
	width: 100%;
	height: 100%;
	overflow: hidden; /* 添加这个解决浏览器界面缩小是出现滚动条的问题 */
}