.oz-layout{
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0;
}
.oz-layout-panel{
	position:absolute;
	overflow:hidden;
	padding: 0px;
}
.layout-panel-east,.layout-panel-west{
	z-index:2;
	background1:#fff;
}
.layout-panel-north,.layout-panel-south{
	z-index:3;
	background1:#fff;
}
.layout-button-up{
	background:url('images/layout_button_up.gif') no-repeat;
}
.layout-button-down{
	background:url('images/layout_button_down.gif') no-repeat;
}
.layout-button-left{
	background:url('images/layout_button_left.gif') no-repeat;
}
.layout-button-right{
	background:url('images/layout_button_right.gif') no-repeat;
}
.layout-expand{
	position:absolute;
	padding:0px 5px;
	padding:0px;
	background:#D2E0F2;
	font-size:1px;
	cursor:pointer;
	z-index:1;
}
.layout-expand .panel-header{
	background:transparent;
	border-bottom-width:0px;
}
.layout-expand .panel-header .panel-tool{
	top: 5px;
}
.layout-expand .panel-body{
	overflow:hidden;
}
.layout-expand-over{
	background:#E1F0F2;
}
.layout-body{
	overflow:auto;
	background:#fff;
}
.layout-split-proxy-h{
	position:absolute;
	width:5px;
	background:#ccc;
	font-size:1px;
	cursor:e-resize;
	display:none;
	z-index:5;
}
.layout-split-proxy-v{
	position:absolute;
	height:5px;
	background:#ccc;
	font-size:1px;
	cursor:n-resize;
	display:none;
	z-index:5;
}
.layout-split-north{
	border-bottom:5px solid #D2E0F2;
}
.layout-split-south{
	border-top:5px solid #D2E0F2;
}
.layout-split-east{
	border-left:5px solid #D2E0F2;
}
.layout-split-west{
	border-right:5px solid #D2E0F2;
}
.layout-mask{
	position:absolute;
	background:#fafafa;
	filter:alpha(opacity=10);
	opacity:0.10;
	z-index:4;
}
/* IE6 strict won't drag w/out a color */
.x-layout-split{
    background-color: #fff !important;
    filter: alpha(opacity=1);
    overflow: hidden;
}
.layout-split-v{
	position: absolute;
	cursor: n-resize;
}
.layout-split-h{
	position: absolute;
	cursor: e-resize;
}
.layout-split-proxy-v{
	background-color: #c0c0c0;
	position: absolute;
	cursor: n-resize;
}
.layout-split-proxy-h{
	background-color: #c0c0c0;
	position: absolute;
	cursor: e-resize;
}
.oz-drag-overlay{
	background-color: #cccccc;
}



.oz-layout-mini {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:5px;
    height:35px;
    cursor:pointer;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    line-height:0px;
}
.oz-layout-mini-over, .oz-layout-collapsed-over .oz-layout-mini{
    opacity:1;
    -moz-opacity:1;
    filter:none;
}

.oz-layout-mini-west {
    top:48%;
    background-image:url(images/layout-mini-left.gif);
}
.oz-layout-mini-east {
    top:48%;
    background-image:url(images/layout-mini-right.gif);
}
.oz-layout-mini-north {
    left:48%;
    height:5px;
    width:35px;
    background-image:url(images/layout-mini-top.gif);
}
.oz-layout-mini-south {
    left:48%;
    height:5px;
    width:35px;
    background-image:url(images/layout-mini-bottom.gif);
}