/**
 * OZ页面布局样式设置(整体布局、工具条定位)
 * 作者：dragon 2010-07-21
 */

.oz-page{width: 100%;height: 100%;margin: 0px;padding: 0px;border:0;}
.oz-page-top{width: 100%;height: 30px;overflow: hidden;border-bottom:1px solid #8DB2E3;
	background-repeat: repeat-x;background-image:url(images/page/toolbar_bg.gif);
}

/* 视图的相关设置 */
.oz-page-center{width: 100%;height: 1px;display: none;overflow: hidden;border:0;}

/* 树视图的相关设置:所有容器的overflow必须设为hidden，否则resize后撑爆*/
.oz-page-center-tree{width: 180px;left: 0;height: 100%;overflow: hidden;position: absolute;}
.oz-page-center-seperator{width: 5px;left: 180px;height: 100%;overflow: hidden;
	cursor: e-resize;background-color: gray;position: absolute;
}
.oz-page-center-grid{left: 185px;height: 100%;width: 650px;overflow: hidden;position: absolute;}

/* 表单的相关设置 */
.oz-page-form{width: 100%;height: 1px;display: none;overflow: auto;text-align: left;}
.oz-form{width: 100%;border:0px solid black;}
.oz-form-title{
	width: 800px;height: 35px;
	font-size: 18px;font-weight:bold;color:#224D7E;
	padding:10px 5px 5px 10px;
	text-align: center;
	vertical-align: bottom;
	overflow: hidden;
}
.oz-form-fields{width: 100%;}
.oz-form-fields table{width: 800px;	margin: 0px 10px 10px 10px;
	border-color: #76ABD3;border-style: solid;border-width: 1px;background-color: white;
}
.oz-form-emptyTR{height: 2px;line-height:2px;}
.oz-form-label{color:#195775;text-align: right;vertical-align: middle;padding-right: 2px;}
.oz-form-topLabel{color:#195775;text-align: right;vertical-align: top;padding-right: 2px;padding-top: 2px;}
.oz-property{vertical-align: top;}
.oz-property input{width: 100%;height: 20px;}
.oz-property select{width: 100%;}
.oz-property textarea{width: 100%;padding-left: 2px;padding-top: 2px;text-align: left;overflow: auto;height: 80px;}
.oz-form-field{
	background: #FFFFFF;
	border-bottom: 1px solid #B0D7F2;
	border-right: 1px solid #B0D7F2;
	border-left: 1px solid #2A72A3;
	border-top:1px solid #2A72A3; 
	color:#000066;
	text-decoration:none;
}
.oz-form-zdField{
	background: #DCDCDC;
	border-bottom: 1px solid #D4D0C8;
	border-right: 1px solid #D4D0C8;
	border-left: 1px solid #808080;
	border-top:1px solid #808080; 
	color:#000066;
	text-decoration:none;
}
.oz-form-btField{
	background: #E8F3F9;
	border-bottom: 1px solid #B0D7F2;
	border-right: 1px solid #B0D7F2;
	border-left: 1px solid #3881B2;
	border-top:1px solid #3881B2; 
	color:#000066;
	text-decoration:none;
}
/*日期+时间*/
.oz-dateTimeField{
  	background-repeat: no-repeat;
  	background-image:url(images/calendar/dateTime.gif);
  	cursor: pointer;
	background-position: 99% center;
	border:1px solid #74a6d5;
}
/*日期+时间+必填*/
.oz-dateTimeBtField{
  	background-repeat: no-repeat;
  	background-image:url(images/calendar/dateTime.gif);
  	cursor: pointer;
	background-position: 99% center;
	border:1px solid #74a6d5;
}
/*日期*/
.oz-dateField{
  	background-repeat: no-repeat;
  	background-image:url(images/calendar/date.gif);
  	cursor: pointer;
	background-position: 99% center;
	border:1px solid #74a6d5;
}
/*日期+必填*/
.oz-dateBtField{
  	background-repeat: no-repeat;
  	background-image:url(images/calendar/date.gif);
  	cursor: pointer;
	background-position: 99% center;
	border:1px solid #74a6d5;
}

/* 表单的页签相关设置 */
.oz-form-tabs{width: 100%;}
.oz-form-tabs .border{width: 800px;	margin: 0px 10px 10px 10px;min-height:30px;
	border-color: #76ABD3;border-style: solid;border-width: 1px;background-color: white;
}

/* easyui消息框的扩展配置 */
.messager-body textarea{
	border:1px solid #CCCCCC;
	width:100%;
	_width:266px;;
	overflow: auto;
	height: 70px;
	min-height: 50px;
	padding:4px 2px 4px 2px;
}
.messager-body input{
	height:20px;
	width:100%;
	_width:266px;;
}