/* 
 * oz工具条样式
 * 
 * 作者：dragon 2010-07-21
 * 版本：1.0
 */
.oz-tb {
	background: #D0DEF0 url(images/toolbar-bg.gif) repeat-x scroll left top;
	border: 0;
	display: block;
	padding: 4px;
	height:22px;
	_height:30px;
	-moz-user-select:none;
	-khtml-user-select:none;
}
.oz-toolbar-text-align-left{text-align:left;}
.oz-toolbar-text-align-right{text-align:right;}
.oz-toolbar-text-align-center{text-align:center;}
.oz-tb .oz-btns-align-left{float:left;}
.oz-tb .oz-btns-align-right{float:right;}
.oz-tb .oz-btns-align-center{
	margin-left:auto;
	margin-right:auto;
}
.oz-tb .oz-btn {
	height:21px;
	overflow: hidden;
}
.oz-tb .oz-btn * {
	cursor:default;
	font-size: 12px;
}
.oz-tb .oz-btn div {
	float:left;
	height:21px;
	line-height:21px;
	vertical-align: middle;
	overflow: hidden;
}

/* 按钮的常规状态 */
.oz-tb .oz-btn .oz-btn-left {
	background: transparent none no-repeat;
	width:3px;
}
.oz-tb .oz-btn .oz-btn-right {
	background: transparent none no-repeat;
	width:3px;
}
.oz-tb .oz-btn .oz-btn-center {
	background: transparent none no-repeat;
}

/* 按钮的鼠标悬停状态 */
.oz-tb .oz-btn-over .oz-btn-left{
	background: transparent url(images/toolbar-btn-sprite.gif) no-repeat scroll 0 0;
	width:3px;
}
.oz-tb .oz-btn-over .oz-btn-right{
	background: transparent url(images/toolbar-btn-sprite.gif) no-repeat scroll 0 -21px;
	width:3px;
}
.oz-tb .oz-btn-over .oz-btn-center{
	background: transparent url(images/toolbar-btn-sprite.gif) repeat-x scroll 0 -42px;
}

/* 按钮的鼠标按下状态 */
.oz-tb .oz-btn-click .oz-btn-left{
	background: transparent url(images/toolbar-btn-sprite.gif) no-repeat scroll 0 -63px;
	width:3px;
}
.oz-tb .oz-btn-click .oz-btn-right{
	background: transparent url(images/toolbar-btn-sprite.gif) no-repeat scroll 0 -84px;
	width:3px;
}
.oz-tb .oz-btn-click .oz-btn-center{
	background: transparent url(images/toolbar-btn-sprite.gif) repeat-x scroll 0 -105px;
}

/* 按钮的隐藏状态 */
.oz-tb .oz-btn-hidden {
	display:none;
}

/* 按钮的禁用状态 */
.oz-tb .oz-btn-disabled {
	color:gray;
	opacity:0.6;
}
.oz-tb .oz-btn-disabled * {
	color:gray;
}
.oz-tb .oz-btn-disabled .oz-btn-left{
	background: transparent none no-repeat;
	width:3px;
}
.oz-tb .oz-btn-disabled .oz-btn-right{
	background: transparent none no-repeat;
	width:3px;
}
.oz-tb .oz-btn-disabled .oz-btn-center{
	background: transparent none no-repeat;
}

/* 分隔条 */
.oz-tb .oz-btn-seperator {
	background: transparent url(images/toolbar-btn-seperator.gif) no-repeat center center;
	border:0;
	cursor:default;
	display:block;
	font-size:1px;
	height:16px;
	line-height:16px;
	margin:0 2px;
	overflow:hidden;
	width:4px;
}

/* 按钮显示的文本 */
.oz-tb .oz-btn-center .oz-btn-text {
	float:left;
	border:0;
	cursor:default;
	display:block;
	height:16px;
	line-height:16px;
	vertical-align:middle;
	margin-top:2px;
	padding-top:1px;
	padding-left:2px;
}

/* 按钮显示的图片 */
.oz-tb .oz-btn-center .oz-btn-icon {
	float:left;
	background-repeat: no-repeat;
	background-position: center center;
	border:0;
	display:block;
	height:16px;
	line-height:16px;
	width:16px;
	margin-top:2px;
}

/* 菜单按钮显示的箭头 */
.oz-tb .oz-btn-center .oz-btn-arrow {
	float:left;
	background:transparent url(images/toolbar-btn-arrow.gif) no-repeat;
	border:0;
	display:block;
	height:16px;
	line-height:16px;
	width:11px;
	margin-top:2px;
}
.oz-tb .oz-btn-center .oz-btn-arrow-menu {
	background-position:right 1px;
}
.oz-tb .oz-btn-center .oz-btn-arrow-split {
	background-position:right -49px;
}

/* 标签文本 */
.oz-tb .oz-btn .oz-btn-info {
	border:0;
	display:block;
	height:16px;
	line-height:16px;
	vertical-align:middle;
	margin-top:2px;
	padding-top:2px;
	padding-left:2px;
}

/* 文本框 */
.oz-tb .oz-btn .oz-btn-field {
	background: #FFFFFF;
	border-bottom: 1px solid #7F9DB9;
	border-right: 1px solid #7F9DB9;
	border-left: 1px solid #7F9DB9;
	border-top:1px solid #7F9DB9; 
	color:#000066;
	text-decoration:none;
	margin-top:1px;
	padding:2px 0px 0px 2px;
	height:16px;
}

/* 下拉框  */
.oz-tb .oz-btn .oz-btn-select {
	font-size: 12px;
	width:auto;
	margin-top:2px;
}

