.oz-clear{clear:both;height:0;overflow:hidden;line-height:0;font-size:0;}

/**图标样式**/
.oz-icon-firstTab {
	background-image:url(images/tabs/tabIcon_egrand_home.gif) !important;
}
.oz-icon-default {
	background-image:url(images/tabs/tabIcon_egrand_qt.gif) !important;
}

.tabs-panel {
    overflow:hidden;
}

.tabs-header, .tabs-footer {
	background: #deecfd;
	border: 1px solid #8db2e3;
    overflow:hidden;
    zoom:1;
}

.tabs-header {
	padding-bottom: 2px;
}

.tabs-header-noborder{
	border-width:0px;
	border-bottom: 1px solid #8db2e3;
}
.tabs-footer {
	padding-top: 2px;
}
.tabs-footer-noborder{
	border-width:0px;
	border-top: 1px solid #8db2e3;
}
.tabs-strip-wrap {
	width:100%;
    overflow:hidden;
    position:relative;
    zoom:1;
}
ul.tabs-strip {
	list-style-type:none;
	display:block;
    width:5000px;
    zoom:1;
    margin: 0px;
    padding: 0px;
}

ul.tabs-strip-top{
	padding-top: 1px;
	background: url(images/tabs/tab-strip-bg.gif) #cedff5 repeat-x bottom;
	border-bottom: 1px solid #8db2e3;
}

ul.tabs-strip-bottom{
	padding-bottom: 1px;
	background: url(images/tabs/tab-strip-btm-bg.gif) #cedff5 repeat-x top;
	border-top: 1px solid #8db2e3;
	border-bottom: 0 none;
}

.tabs-header-plain .tabs-strip-top {
    background:transparent !important;
    padding-top:0 !important;
}
.tabs-header-plain {
    background:transparent !important;
    border-width:0 !important;
    padding-bottom:0 !important;
}

.tabs-header-plain .tabs-strip-spacer,
.tabs-footer-plain .tabs-strip-spacer {
    border:1px solid #8db2e3;
    height:2px;
    background: #deecfd;
    font-size:1px;
    line-height:1px;
}
.tabs-header-plain .tabs-strip-spacer {
    border-top: 0 none;
}
.tabs-footer-plain .tabs-strip-spacer {
    border-bottom: 0 none;
}

.tabs-footer-plain .tabs-strip-bottom {
    background:transparent !important;
    padding-bottom:0 !important;
}
.tabs-footer-plain {
    background:transparent !important;
    border-width:0 !important;
    padding-top:0 !important;
}

ul.tabs-strip li {
    float:left;
    margin-left:2px;
}

/*tabs的最右边的样式*/
ul.tabs-strip li.tabs-edge {
    float:left;
    margin:0 !important;
    padding:0 !important;
    border:0 none !important;
    font-size:1px !important;
    line-height:1px !important;
    overflow:hidden;
    zoom:1;
    background:transparent !important;
    width:1px;
}

.tabs-strip a, .tabs-strip span, .tabs-strip em {
	display:block;
}

.tabs-strip a {
	text-decoration:none !important;
	-moz-outline: none;
	outline: none;
	cursor:pointer;
}

/*文字部分*/
.tabs-strip-inner {
    overflow:hidden;
	text-overflow: ellipsis;
}
.tabs-strip span.tabs-strip-text {
	font:normal 12px tahoma,arial,helvetica;
	color:#416aa3;
	white-space: nowrap;
	cursor:pointer;
    padding:4px 0; 
    line-height:15px;
}
/*有图标后*/
.tabs-strip-top .tabs-with-icon .tabs-right {
    padding-left:6px;
}

.tabs-strip .tabs-with-icon span.tabs-strip-text {
	padding-left:20px;
    background-position: 0 3px;
    background-repeat: no-repeat;
}

.tabs-strip-over span.tabs-strip-text {
	color:#15428b;
}

.tabs-strip-active, .tabs-strip-active a.tabs-right {
    cursor:default;
}

.tabs-strip-active span.tabs-strip-text {
	cursor:default;
	color:#15428b;
    font-weight:bold;
}

.tabs-strip-disabled .tabss-text {
	cursor:default;
	color:#aaaaaa;
}

.tabs-body {
    overflow:hidden;
}
.tabs-bwrap {
    overflow:hidden;
}
.oz-ie .tabs-strip .tabs-right {
    position:relative;
}

.tabs-strip-top .tabs-strip-active .tabs-right {
    margin-bottom:-1px;
}

.tabs-strip-top .tabs-strip-active .tabs-right span.tabs-strip-text {
    padding-bottom:5px;
}

.tabs-strip-bottom .tabs-strip-active .tabs-right {
    margin-top:-1px;
}
.tabs-strip-bottom .tabs-strip-active .tabs-right span.tabs-strip-text {
    padding-top:5px;
}


.tabs-strip-top .tabs-right {
	background: transparent url(images/tabs/tabs-sprite.gif) no-repeat 0 -51px;
    padding-left:10px;
}

.tabs-strip-top .tabs-left {
	background: transparent url(images/tabs/tabs-sprite.gif) no-repeat right -351px;
    padding-right:10px;
}

.tabs-strip-top .tabs-strip-inner {
	background: transparent url(images/tabs/tabs-sprite.gif) repeat-x 0 -201px;
}

.tabs-strip-top .tabs-strip-over .tabs-right {
	 background-position:0 -101px;
}
.tabs-strip-top .tabs-strip-over .tabs-left {
	 background-position:right -401px;
}
.tabs-strip-top .tabs-strip-over .tabs-strip-inner {
	 background-position:0 -251px;
}

.tabs-strip-top .tabs-strip-active .tabs-right {
	background-position: 0 0;
}

.tabs-strip-top .tabs-strip-active .tabs-left {
	background-position: right -301px;
}

.tabs-strip-top .tabs-strip-active .tabs-strip-inner {
	background-position: 0 -151px;
}

.tabs-strip-bottom .tabs-right {
	background: url(images/tabs/tab-btm-inactive-right-bg.gif) no-repeat bottom right;
}

.tabs-strip-bottom .tabs-left {
	background: url(images/tabs/tab-btm-inactive-left-bg.gif) no-repeat bottom left;
}

.tabs-strip-bottom .tabs-strip-active .tabs-right {
	background: url(images/tabs/tab-btm-right-bg.gif) no-repeat bottom left;
}

.tabs-strip-bottom .tabs-strip-active .tabs-left {
	background: url(images/tabs/tab-btm-left-bg.gif) no-repeat bottom right;
}
.tabs-strip-bottom .tabs-left {
    padding:0 10px;
}
.tabs-strip-bottom .tabs-right {
    padding:0;
}
.tabs-strip .tabs-strip-close {
    display:none;
    width:0px;
    height:0px;
}
.tabs-strip-closable {
    position:relative;
}

.tabs-strip-closable .tabs-left {
    padding-right:19px;
}

.tabs-strip .tabs-strip-closable a.tabs-strip-close {
	background-image:url(images/tabs/tab-close.gif);
    opacity:.6;
    -moz-opacity:.6;
    background-repeat:no-repeat;
    display:block;
	width:11px;height:11px;
    position:absolute;
    top:3px;
    right:3px;
    cursor:pointer;
    z-index:2;
}

.tabs-strip .tabs-strip-active a.tabs-strip-close {
    opacity:.8;
    -moz-opacity:.8;
}
.tabs-strip .tabs-strip-closable a.tabs-strip-close:hover{
	background-image:url(images/tabs/tab-close.gif);
    opacity:1;
    -moz-opacity:1;
}

.tabs-body {
    border: 1px solid #8db2e3;
    background:#fff;
}
.tabs-body-top {
    border-top: 0 none;
}
.tabs-body-bottom {
    border-bottom: 0 none;
}

.tabs-body-noborder{
	border: 0px;
}

/**左右滚动的按钮**/
.tabs-scroller-left {
    background: transparent url(images/tabs/scroll-left.gif) no-repeat -18px 0;
    border-bottom: 1px solid #8db2e3;
    width:18px;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    cursor:pointer;
    display: none;
	height:24px;
	
}
.tabs-scroller-left-over {
    background-position: 0 0;
}
.tabs-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}
.tabs-scroller-right {
    background: transparent url(images/tabs/scroll-right.gif) no-repeat 0 0;
    border-bottom: 1px solid #8db2e3;
    width:18px;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
    display: none;
	height:24px;
}
.tabs-scroller-right-over {
    background-position: -18px 0;
}
.tabs-scroller-right-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.tabs-scrolling .tabs-strip-wrap {
    margin-left:18px;
    margin-right:18px;
}

.tabs-scrolling {
    position:relative;    
}

.tabs-scrolling .tabs-scroller-left,.tabs-scrolling .tabs-scroller-right{
	display: block;
}

/*test*/
ul.tabs-strip{
	
}

ul.tabs-strip li {
    z-index: 10;
    position:relative;
    margin: 0px -10px 0px 0px;
}

.tabs-strip-top .tabs-strip-active {
	z-index: 1000;
}
.tabs-strip .tabs-strip-close {
    margin-right: 6px;
}
.tabs-strip .tabs-strip-inner{
    margin-left: 6px;
}

.tabs-strip-top .tabs-right {
	background: transparent url(images/tabs/tabs-sprite2.gif) no-repeat -12px -51px;
    padding-left:10px;
}

.tabs-strip-top .tabs-left {
	background: transparent url(images/tabs/tabs-sprite2.gif) no-repeat right -376px;
    padding-right:10px;
}

.tabs-strip-top .tabs-strip-inner {
	background: transparent url(images/tabs/tabs-sprite2.gif) repeat-x 0 -201px;
}

.tabs-strip-top .tabs-strip-over .tabs-right {
	 background-position:-12px -101px;
}
.tabs-strip-top .tabs-strip-over .tabs-left {
	 background-position:right -426px;
}
.tabs-strip-top .tabs-strip-over .tabs-strip-inner {
	 background-position:0 -251px;
}

.tabs-strip-top .tabs-strip-active .tabs-right {
	background-position: -12px 0;
}

.tabs-strip-top .tabs-strip-active .tabs-left {
	background-position: right -327px;
}

.tabs-strip-top .tabs-strip-active .tabs-strip-inner {
	background-position: 0 -151px;
}
